@CHARSET "UTF-8";


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margintop:-
6px;margin-left:-1px;
-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px
6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:"
";float:right;width:0;height:0;
border-color:transparent;border-style:solid;border-width:5px 0 5px
5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pullleft>.
dropdown-menu{left:-100%;margin-left:10px;
-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px
6px;border-radius:6px 0 6px 6px;}


@font-face{
	
	font-family: 'Entypo';
	src:url('<c:url value="/inc/entypo/font/entypo.eot"/>');
	src:url('<c:url value="/inc/entypo/font/entypo.eot?#iefix"/>') format('embedded-opentype'),
	url('<c:url value="/inc/entypo/font/entypo.woff"/>') format('woff'),
	url('<c:url value="/inc/entypo/font/entypo.woff2"/>') format('woff'),
	url('<c:url value="/inc/entypo/font/entypo.ttf"/>') format('truetype'),
	url('<c:url value="/inc/entypo/font/entypo.svg#EntypoRegular"/>') format('svg');
	font-weight:normal;
	font-style:normal;
}



@font-face{
	
	font-family:'agencyfb';
	
	src:url('agencyfb.eot') format('eot'); /* IE9 Compat Modes */
	src: url('agencyfb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('agencyfb.woff2') format('woff2'),/* Super Modern Browsers */
	url('agencyfb.woff') format('woff'), /* Pretty Modern Browsers */
	
	url('agencyfb.ttf') format('truetype'),/* Safari, Android, iOS */
	
	url('agencyfb.svg#svgFontName') format('svg');/* Legacy iOS */
	
}

.btn-colorspecial {
  color: #fff;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
  border-color: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}






/* page accueil medecin */


.homemed{
	
	font-family:agencyfb;
	
	margin:auto;
	width:100%;
	border: 8px #66FFFF solid;
        border-radius:10px;
        padding:10px;
        
        font-size:3em;
        font-weight:bold;
        text-align:center;
        height:105px;
	
	
}

.homepat{
	
	margin:auto;
	width:100%;
	border: 8px #66FFFF solid;
        border-radius:10px;
        padding:10px;
        font-family:agencyfb;
        font-size:3em;
        font-weight:bold;
        text-align:center;
        height:105px;
	
	
}

.homepato{
	
	margin:auto;
	width:100%;
	border: 8px #66FFFF solid;
        border-radius:10px;
        padding:10px;
        
        
        
        height:105px;
	
	
}

.contactsmed{
	
	border: 8px white solid;
        border-radius:10px;
	
	
}

.contactspat{
	
	border: 8px white solid;
        border-radius:10px;
	
	
}

.notifsmed{
	
	border: 8px white solid;
        border-radius:10px;
	
	
}

.notifspat{
	
	border: 8px white solid;
        border-radius:10px;
	
	
}

.menumed{
	
	border: 8px #666666 solid;
        border-radius:10px;
        padding:5px;
	
	
	
}

.validation{
	
	    border: 8px #666666 solid;
        border-radius:10px;
        text-align:justify;
        padding-left:50px;
        padding-right:20px;
        
}

.validees{
	
	border: 8px #666666 solid;
        border-radius:10px;
        text-align:justify;
        padding-left:50px;
        padding-right:20px;
        padding-top:30px;
        
  
}

.accueilpopup{
	
	
        text-align:justify;
        padding-left:50px;
        padding-right:20px;
        
  
}



.propositions{
	
	    border: 8px #666666 solid;
        border-radius:10px;
        text-align:justify;
        padding-left:50px;
        padding-right:20px;
        
        
        
	
}


        
	
}

.menupat{
	
	border: 8px #666666 solid;
      border-radius:10px;
	
	
	
}

.boutonseances{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-right:50px;
        margin-top:40px;
        text-align:center;
        font-size:2em;
	
}

.boutonseancespat{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-right:50px;
        margin-top:40px;
        text-align:center;
        font-size:2em;
	
}

.buttonsmenu{
	
	border-radius:0.5em;
	text-align:center;
	text-decoration:none;
	color:white;
	margin:auto;
	/*padding:1em;
	padding-right:3em;*/
	/*text-transform:uppercase;*/
	font-weight:bold;
	background-color:#6d695c;
	background-image: repeating-linear-gradient(120deg, rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,transparent 1px,transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1),rgba(255,255,255,.1) 1px,transparent 1px,transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%,transparent 25%,transparent 75%,rgba(0,0,0,.1) 75%,rgba(0,0,0,.1));
	
	background-size:70px 120px;
	
	
}

.buttonsmenu:hover{
	
	/*background:
	radial-gradient(black 15%, transparent 16%) 0 0,
	radial-gradient(black 15%, transparent 16%) 8px 8px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
	radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	
	background-color:white;
	background-size:16px 16px;
	color:black;*/
	
	background-color:transparent;
	border: 0.15em #5e8ca5 solid;
	color:#4388CC;
	
	
	

	}
	
	.buttonsmenu:active{
	
	background-color:transparent;
	border:0.15em #5e8ca5 solid;
	color:#5e8ca5;
	
	
	
	}

.boutondiagnostics{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-right:50px;
        font-size:2em;
        text-align:center;
        
        margin-top:40px;
        
        /*  border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-top:40px;
        text-align:center;
        font-size:2em;*/
	
}



.boutontestsetresultats{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-top:20px;
        font-size:2em;
        text-align:center;
	
}

.boutoncarnetsdesante{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-right:50px;
        font-size:2em;
        text-align:center;
        
        margin-top:20px;
	
}

.boutoncarnetdesantepat{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-right:50px;
        
        font-size:2em;
        text-align:center;
        
        margin-top:20px;
	
}

.boutoncommentaires{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-left:50px;
        margin-top:20px;
        font-size:2em;
        text-align:center;
	
}

.boutongroupes{
	
	border: 8px transparent solid;
        border-radius:10px;
        margin-right:50px;
        font-size:2em;
        text-align:center;
        
        margin-top:20px;
	
}


.barrederecherche{
	
	margin:auto;
	width:100%;
	border: 8px #66FFFF solid;
        border-radius:10px;
        padding:10px;
        height:105px;
        
       
        
	
}
.elementrecherche{
	
	font-family:"Montserrat",sans-serif;
	
	
	
	border-radius:0.5em;
	
	background-color:#efefef;
	
	font-size:1.2em;
	
	
}

.elementrecherchecopie{
	
	font-family:"Montserrat",sans-serif;
	width:30em;
	height:4em;
	border:0.1em solid #ccc;
	border-radius:0.5em;
	background-color:#efefef;
	padding: 0em 1em;
	font-size:1.2em;
	box-shadow:0em 0.1em 0.5em #ccc;
	
	
}

.prenomsnomsmed{
	
	border: 8px #66FFFF solid;
        border-radius:10px;
        text-align:left;
        font-weight:bold;
        font-family:agencyfb;
        font-size:3em;
        padding:10px;
	
	
}

.prenomsnomsagepat{
	
	border: 8px #66FFFF solid;
        border-radius:10px;
        text-align:left;
        font-weight:bold;
        font-family:agencyfb;
        font-size:3em;
        padding:10px;
        
	
	
}

.photomed{
	
	border: 8px #66FFFF solid;
        border-radius:10px;
        text-align:center;
        font-weight:bold;
        font-family:agencyfb;
        font-size:3em;
        padding:10px;
	
	
}

.photopat{
	
	border: 8px #66FFFF solid;
        border-radius:10px;
        text-align:center;
        font-weight:bold;
        font-family:agencyfb;
        font-size:3em;
        padding:10px;
       
	
	
}

.deconnexionmed{
	
	border: 8px #66FFFF solid;
        border-radius:10px;
        
        
        background-color:#4388CC;
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        font-family:agencyfb;
        margin:auto;
        
        
        
	
	
}



/*0 Début enad_accueil.jsp*/

.enad_background_image{
	
	width:100%;
	
	
}

.barredeprogression{
	position:fixed;
        top:70%;
        z-index:2;
        display:inline-block;
        background-color:transparent;
        height:100px;
        color:white;
        width:100%;
        font-family:agencyfb;
        font-size:4em;
	
}

.image{
	width:100%;
	height:100%;
	position:fixed;
    right:0px;
    left:0px;
    bottom:0px;
    top:0px;
    z-index:1;
    display:inline-block;
	
	
}

.imagedroite{
	width:25%;
	height:90%;
	position:fixed;
    right:0px;
    left:75%;
    
    
    display:inline-block;
	
	
}





/*0 Fin enad_accueil.jsp*/




/* 1 Début  Pages enad.jsp; inscrireconnecterMedecin.jsp; inscrireconnecterPatient.jsp*/

body{
	margin:0px;
	padding:0px;
	width:device-width;
	
}



        
        
        
        
        a#enad_a{
        
        color:white;
        
        
        }
        
        
        .enad_notice {
        
        background-color:#339999;
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:white;
        width:100%;
        font-family:agencyfb;
        border: 8px #666666 solid;
        border-radius:10px;
        
        
        
        
        
        }
        
        
        
        
        .enad_ENAD{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:#339999;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .relationavecmedecinoui{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .relationavecmedecintraitantoui{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .relationavecmedecintraitantnon{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .sansmedecintraitant{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .relationavecmedecinnon{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .demandeattentevalidation{
        
        background-color:transparent;
        font-size:3em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        width:100%;
        
        
        
        }
        
        table{
        
        border: 0.2em solid;
        border-collapse:collapse ;
        text-align:center;
        font-family:"Lato","sans-serif";
        
        
        }
        
        th{
        border: 0.1em solid #329bd7;
        text-align:center;
        padding:2em;
        background-color:#e8503a;
        
        }
        
        td{
        border: 0.1em solid #e74f3b;
        text-align:center;
        padding:1em;
        
        }
        
        tr{
        
        }
        
        table tr:nth-child(even){
        
        background-color:#eee;
        }
        
        table tr:nth-child(odd){
        
        background-color:#fff;
        }
        
        .zeroseancevalidation{
        
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        
        
        }
        
        .zeroseancevalidees{
        
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        
        
        }
        
        
        
        .zeroseanceproposition{
        
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:black;
        font-family:agencyfb;
        
        
        }
        
        .totalseancesvalidation{
        
        font-size:3em;
        font-family:agencyfb;
        color:black;
        font-weight:bold;
        text-align:center;
        text-decoration:underline;
        
        }
        
        .totalseancesvalidees{
        
        font-size:3em;
        font-family:agencyfb;
        color:black;
        font-weight:bold;
        text-align:center;
        text-decoration:underline;
        
        }
        
        .totalseancesproposition{
        
        font-size:3em;
        font-family:agencyfb;
        color:black;
        font-weight:bold;
        text-align:center;
        text-decoration:underline;
        
        }
        
        .enad_background{
        
        
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:white;
        font-family:agencyfb;
        width:100%;
            
        }
        
        .well{
           
           background-color:#CCCCCC;
        }
        
        
        
        .titres_ins_medecin{
        
        font-size:1em;
        text-align:center;
        font-weight:bold;
        color:#666666;
        font-family:agencyfb;
        width:100%;
        
        }
        
        .titres_con_medecin{
        
        font-size:1em;
        text-align:center;
        font-weight:bold;
        color:#666666; 
        font-family:agencyfb;
        width:100%;
        
        }
        
        .enad_ins_med{
        
        
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        
        }
        
        .enad_creer_seances{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        padding:20px;
        
        }
        
        .enad_creer_commentaires{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        }
        
        .enad_creer_diagnostics{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        }
        
        .enad_creer_groupes{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        }
        
        .enad_con_med{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        }
        
        
        
        .titres_ins_patient{
        
        font-size:1em;
        text-align:center;
        font-weight:bold;
        color:#666666;
        font-family:agencyfb;
        width:100%;
        
        }
        
        .titres_con_patient{
        
        font-size:1em;
        text-align:center;
        font-weight:bold;
        color:#666666;
        font-family:agencyfb;
        width:100%;
        
        }
        
        .enad_ins_pat{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:black;
        
        width:100%;
        
        }
        
        .enad_con_pat{
        
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:white;
        
        width:100%;
        
        
        
        
        }
        
        .titre_resultats_recherche_con_pat{
        
        background-color:white;
        font-size:2em;
        text-align:center;
        font-weight:bold;
        color:#6666CC;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        .resultats_recherche_con_pat{
        
        background-color:white;
        font-size:1.3em;
        text-align:justify;
        font-weight:bold;
        color:#339999;
        font-family:agencyfb;
        width:100%;
        
        
        }
        
        
        
        .video{
        
        width:100%;
        z-index:1;
        position:fixed;
        right:0px;
        left:0px;
        display:inline-block;
        
       
        }
        
        .choix_1 {
        position:fixed;
        top:50%;
        
        background-color:transparent;
        z-index:2;
        display:inline-block;
        width:40%;
        left:0px;
        border: 10px white solid;
        border-radius:10px;
        height:100px;
        
        
        
        }
        
        .choix_2 {
        position:fixed;
        top:50%;
       
        background-color:transparent;
        z-index:2;
        display:inline-block;
        width:40%;
        right:0px;
        border: 10px white solid;
        border-radius:10px;
        height:100px;
        
        /*padding-top:15px;
        padding-bottom:15px;
        padding-right:15px;
        padding-left:15px;
        
        margin-top:15px;
        margin-bottom:15px;
        margin-right:15px;
        margin-left:15px;*/
        
        
        
        
        
        }
        
        
        
        div#footer{
        background-color:#339999;
        font-size:4em;
        text-align:center;
        font-weight:bold;
        color:white;
        font-family:agencyfb;
        position:fixed;
        bottom:0px;
        width:100%;
        z-index:2;
        
        
        
        
        
        
        
        
        }


/* 1 Fin  Pages enad.jsp; inscrireconnecterMedecin.jsp; inscrireconnecterPatient.jsp*/




