@CHARSET "ISO-8859-1";
div {
	color:blue;
	font-family: tims, cursive, serif;
	
}
.myTable {
	width: 400px;
	background-color: #eee;
	border-collapse: collapse;
}

.myTable th {
	background-color: #000;
	color: white;
	width: 50%;
}

.myTable td, .myTable th {
	padding: 5px;
	border: 1px solid #000;
}	
.ForeCastTable {
	width: 800px;
	background-color: #eee;
	border-collapse: collapse;
}

.ForeCastTable th {
	background-color: #000;
	color: white;
	width: 20%;
	table-layout: fixed;
}

.ForeCastTable td,.ForeCastTable th {
	padding: 5px;
	border: 1px solid #000;
}